h1   {
		  font-family: Helvetica;
		  font-size: 600%;
		  font-style: italic;
		  font-weight:  bold;
		  padding-left: 10%;
		  padding-top: 10%;
		  margin: 0;
}
h2 {
	  font-family: Tahoma;
	  font-size: 100%;
	  display: inline;
	  font-weight: 100;
}
h2:hover {
	font-weight: bold;
}
.header {
	  padding: 10px;
	  text-align: right;
	  background: #FCF7FF;
}
.icon-logo {
    height: 24px;
    width: 24px;
    margin: 0px 12px 0px 2px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    text-decoration:none;
    color:  #000000;
}
.icon-logo:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-decoration:none;
}
a:link {
  text-decoration: none;
}
p {
		  font-family: Helvetica;
		  font-size:  80%;
		  font-style:  italic;
}
body {
  background: #FCF7FF;
}
	
